<!DOCTYPE html>
<html lang="sv">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }} &middot; nilsson.im</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&family=Source+Code+Pro:wght@300;500;700;900&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="{{ '/assets/styles/global.css' | url }}" />
</head>
<body>
	<header class="site-header">
		<div class="container">
			<a href="/"><h1 class="logo">Johannes Nilsson</h1></a>
			<nav class="site-nav">
				<ul>
					<li><a href="/#om">Om</a></li>
					<li><a href="/#projekt">Projekt</a></li>
					<li><a href="/#kontakt">Kontakt</a></li>
				</ul>
			</nav>
		</div>
	</header>

	<main>
	{{ content | safe }}
	</main>

	<footer class="site-footer">
		<div class="container">
			<p>&copy; {% year %} &middot; {{ meta.authorName }}</p>
		</div>
	</footer>

	<script src="{{ './assets/scripts/script.js' | url }}"></script>
</body>
</html>