<!DOCTYPE html>
<html lang="sv">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }} &middot; nilsson.im</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">  
	<link rel="stylesheet" href="{{ '/assets/styles/global.css' | url }}" />
</head>
<body>
	<div class="site">
		<header class="site-header">
			<div class="container">
				<div class="site-branding">
					<a href="/">
						<p>JN</p>
					</a>
				</div>
				<nav class="nav-primary">
					<a href="/" class="{{ 'active' if  page.url === '/' }}">work</a>
					<a	href="/about" class="{{ 'active' if '/about' in page.url }}">About</a>
					<a href="/notes" class="{{ 'active' if '/notes' in page.url }}">Notes</a>
					<a href="/contact" class="{{ 'active' if '/contact' in page.url }}">contact</a>
				</nav>
			</div>
		</header>

		<main class="page-content">
		{{ content | safe }}
		</main>

		<footer class="site-footer">
			<div class="container">
				<p>johannes@nilsson.im</p>
				<p>Colophon</p>
			</div>
		</footer>

		<script src="{{ './assets/scripts/script.js' | url }}"></script>
	</div>
</body>
</html>