---
layout: base.njk
---
<section>
   <div class="container">

      <div class="project-meta">
         <h1>{{ title }}</h1>
      </div>

      <div class="project-image">
         <img src="{{images[1]}}" alt="">
      </div>

      <div class="project-content">
         {{ content | safe }}

         <div class="project-link">
            <p><a class="btn" href="{{ links[0].url}}">{{ links[0].title }}</a></p>
         </div>
      </div>


      
   </div>
</section>
