<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | htmlBaseUrl }}" />
  </head>
  <body>
    <h1>{{ title | default('My site') }}</h1>

    <main>
      {{ content | safe }}
    </main>
  </body>
</html>
