{% set currentURL = page.url %}

<!DOCTYPE html>
<html lang="sv">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{meta.authorName}} &middot; {{ meta.siteName }} </title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ '/assets/styles/global.css' | url }}" />
</head>
<body>
	<div class="site">
	
		<header class="site-header">
			<div class="container">
				<div class="site-branding">
					<a href="/">
						<p>JN</p>
					</a>
				</div>
				<nav class="nav-primary">
					{% for page in collections.pages %}
						<a href="{{ page.url }}" class="{{ 'active' if page.url === currentURL }}">{{page.data.title}}</a>
					{% endfor %}
				</nav>
			</div>
		</header>
		
		{{ content | safe }}

		<footer class="site-footer">
			<div class="container">
				<p>johannes@nilsson.im</p>
				<p>&copy; {% year %} &middot; Handcrafted with &hearts;</p>
			</div>
		</footer>

		<script src="{{ './assets/scripts/script.js' | url }}"></script>
	</div>
</body>
</html>