---
title: About
---

<div class="container">
<h1>About</h1>
</div>

<section class="presentation">
   <div class="container">
      <div>
         <p>My interest for building websites first started when I got a pirated copy of FrontPage 98 from my father. I started creating </p>
         <p>In 2019 I decided that I wanted to make web development my full time career. So I studied the web development program at <a href="https://www.miun.se/en/">Mid Sweden University</a>.</p>
         <p>I love spending time with details and in that way creating a better </p>
         <p>I believe that the web is a wonderful place and tool for connecting people. Wanting to share my love for the web I'm now <a href="/work/wpkursen">developing a course</a> for beginners on how to use WordPress. Teaching what I know is </p>
         <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero quisquam enim soluta dolorem ab aliquam expedita beatae, aut consequatur architecto tenetur accusamus optio eum ipsum blanditiis exercitationem, quae odio. Neque, veniam ipsa. Iure architecto sequi sit eaque, reprehenderit illo consequuntur! Repellendus est laborum beatae quidem, expedita nihil laudantium blanditiis doloribus!</p>
         <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur amet officiis ullam veniam mollitia veritatis sequi a architecto laborum. Corporis?</p>
      </div>
      <div>
         <img src="/assets/images/profile.webp" alt="">
      </div>
   </div>
</section>

<section>
   <div class="container">
      <h2>Want to hire me?</h2>
      <p>Download my resume or send me an email.</p>
   </div>
</section>