---
title: Notes
---

<section>
   <div class="container">
      <h1>Notes</h1>
      <p>Some random scribbles about web development, freelancing and keeping sane.</p>
      {% for note in collections.notes %}
         <a href="{{ note.url }}">{{note.data.title}}</a>
      {% endfor %}
   </div>
</section>