---
layout: base.njk
title: Hem
---

<section class="hero">
   <div class="container">
      <h1>Helping people <span class="highlight">fall in love</span> with the web.</h1>
      <p>I'm Johannes Nilsson, a web developer &amp; nerd. I enjoy building websites and teaching others how to do so on their own. </p>
      <a href="#work" class="btn">See my work <i class="fas fa-angle-right"></i></a>
   </div>
</section>

<section id="about" class="about">
   <div class="container">
      <img class="profile" src="{{ './assets/images/profile.webp' | url }}" alt="Johannes Nilsson">
      
      <div class="about-description">
         <h2>About me</h2>
         <p>I have been tinkering with websites on and off since I was a kid. I got a pirated version of FrontPage '98 from my father.. and that's where it all began. </p>
         <p>Later I studied web development at Mittuniversitetet in Sweden. Today I freelance and work on projects that focus on educating newcomers to the wonderful world of building websites.</p>
         <p>When I'm not tapping on my keyboard, you'll find me riding <a href="#0">my orange bike</a> or snapping pictures with some camera.</p>
         
         <h4>Follow me</h4>
         <ul class="social-links">
            <li><a href="#0"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#0"><i class="fab fa-github"></i></a></li>
            <li><a href="#0"><i class="fab fa-codepen"></i></a></li>
            <li><a href="#0"><i class="fab fa-linkedin"></i></a></li>
         </ul>
      </div>
   </div>
</section>

<!--
<section id="work" class="work">
   <div class="container">
      <h2>Selected work</h2>
      <p>Here's some stuff that I've made and some that I'm currently working on.</p>

      <div class="featured-items">
      {% for project in collections.projects %}
         <div class="featured-item">
            <div class="featured-item__header">
               <p>{{ project.data.title }}</p>
               <i class="fas fa-ellipsis-h"></i>
            </div>
            <div class="featured-item__body">
               <a class="stretched-link" href="{{ project.url }}"></a>
               <img src="{{ project.data.images[0] | url }}" alt="">
            </div>
         </div>
      {% endfor %}
      </div>

      <div class="work-more">
         <p>Want to check out more stuff?</p>
         <a href="#0" class="btn">Go ahead <i class="fas fa-angle-right"></i></a>
      </div>
   </div>
</section>
-->

<section id="contact" class="contact">
   <div class="container">
      <h2>Let's talk</h2>

      <div class="contact-content">
         <p>Want to tell me a secret, ask a question or hire me? Go ahead and send me an email.</p>

         <form>
            <label for="name">Name</label>
            <input type="text" name="name" id="name">

            <label for="email">E-mail</label>
            <input type="email" name="email" id="email">

            <label for="body">Message</label>
            <textarea name="body" id="body" cols="30" rows="10"></textarea>
            <br>
            <button class="btn" type="submit">Send it!</button>
         </form>
      </div>

   </div>
</section>