---
layout: base.njk
title: Home
---

<section class="hero">
   <div class="container">
      <h1>Hej, kompis.<br/>
         Ska vi bygga något coolt <span class="highlight">tillsammans</span>?
      </h1>
      <p>Mitt namn är Johannes Nilsson &mdash; en vänlig webbutvecklare som gärna delar med mig av min kärlek för webben. Jag är redo att hjälpa dig med ditt nästa projekt.</p>
      <a href="#kontakt" class="btn">Ja, gärna! <i class="fas fa-angle-right"></i></a>
   </div>
</section>

<section id="om" class="about">
   <div class="container">
      <img class="profile" src="{{ './assets/images/profile.webp' | url }}" alt="Johannes Nilsson">
      
      <div class="about-description">
         <h2>Om mig</h2>
         <p>Jag har sysslat med webbutveckling på olika vis sedan jag var ca 10 år. Intresset började när jag fick en piratkopierad CD-skiva med FrontPage '98.</p>
         <p>Mycket har hänt sedan dess. Har lärt mig mycket på egen hand med hjälp av internet, men också gått utbildningar i webbutveckling på gymasienivå och nyligen även på Mittuniversitetet.</p>
         <p>Idag frilansar jag och bygger sidor, med moderna verktyg, för mig själv och andra. Under 2022 arbetar jag också med att ta fram en <a href="https://www.wpkursen.se">onlinekurs för nybörjare</a> som vill lära sig WordPress.</p>
         <p>När jag inte knackar kod så cyklar jag gärna på min orange cykel, översätter olika Open Source-projekt, dansar loss i VR eller rullar tärningar i något brädspel.</p>
         
         <h4>Följ mig på webben</h4>
         <ul class="social-links">
            
            <li><a href="https://gitlab.com/nlssn"><i class="fab fa-gitlab"></i></a></li>
            <li><a href="https://codepen.io/nlssn/"><i class="fab fa-codepen"></i></a></li>
            <li><a href="https://www.linkedin.com/in/nlssn/"><i class="fab fa-linkedin"></i></a></li>
            <li><a href="https://www.instagram.com/nilsson.im/"><i class="fab fa-instagram"></i></a></li>
         </ul>
      </div>
   </div>
</section>

<section id="projekt" class="work">
   <div class="container">
      <h2>Projekt</h2>
      <p>Här är några utvalda projekt som jag är extra stolt över just nu.</p>

      <div class="featured-items">
      {% for project in collections.projects %}
         <div class="featured-item">
            <div class="featured-item__header">
            <p></p>
               <i class="fas fa-ellipsis-h"></i>
            </div>
            <div class="featured-item__body">
               <a class="stretched-link" href="{{ project.url }}"></a>
               <img src="{{ project.data.images[0] | url }}" alt="">
            </div>
         </div>
      {% endfor %}
      </div>
   </div>
</section>

<section id="kontakt" class="contact">
   <div class="container">
      <h2>Kontakt</h2>

      <div class="contact-content">
         <p>Har du en fråga eller vill du berätta en hemlis? Kanske anställa mig? Fyll i formuläret så hör jag av mig.</p>

         <form name="contact" method="POST" data-netlify="true">
            <label for="name">Namn</label>
            <input type="text" name="name" id="name" required>

            <label for="email">E-post</label>
            <input type="email" name="email" id="email" required>

            <label for="body">Meddelande</label>
            <textarea name="body" id="body" cols="30" rows="10" required></textarea>
            <br>
            <button class="btn" type="submit">Skicka</button>
         </form>
      </div>

   </div>
</section>