/*$color-yellow: #fade5f;
$color-red: #fc615c;
$color-blue: #4dcce2;*/
$color-white: #ffffff;
$color-yellowish: #f8f8f8;
$color-darkish: #eeebeb;
$color-darkest: #ddd6d6;
$color-blue: #5ca16d;
$color-darkgray: #dad9d8;
$color-black: #252523;

$color-notice: #eb9066;

$font-stack: "Source Code Pro", monospace;

$breakpoints: (
  "small": 767px,
  "medium": 992px,
  "large": 1200px,
) !default;
