/* Colors */

/* Fonts */
$font-stack: "Inter", sans-serif;

/* Layout */
$breakpoints: (
  "small": 767px,
  "medium": 992px,
  "large": 1200px,
) !default;

/* Spacing */
$spacing-xs: 0.25em;
$spacing-s: 0.5em;
$spacing: 1em;
$spacing-l: 2.5em;
$spacing-xl: 3.5em;
