@import "reset";
@import "variables";
@import "mixins";

body {
  font-family: $font-stack;
  font-weight: 300;
  color: lighten(black, 25);
}

h1,
h2 {
  font-family: $font-stack;
  font-weight: 700;
  color: black;
}

h1 {
  font-size: 2em;
  margin-bottom: $spacing-s;

  @include breakpoint("small") {
    font-size: 2.25em;
  }

  @include breakpoint("medium") {
    font-size: 2.75em;
  }

  @include breakpoint("large") {
    font-size: 3.25em;
  }
}

h1,
h2 {
  margin-bottom: $spacing-s;
}

h3 {
  font-size: 1.2em;
  margin-bottom: $spacing-s;
}

.page-content p {
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.site {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  margin: 0 auto;

  @include breakpoint("small") {
    max-width: 750px;
  }

  @include breakpoint("medium") {
    max-width: 900px;
  }

  @include breakpoint("large") {
    max-width: 1200px;
  }
}

.container {
  padding: 0 $spacing;

  @include breakpoint("small") {
    padding: 0 $spacing-xl;
  }
}

.site-header {
  grid-area: header;
  padding: $spacing-l 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav-primary {
  display: flex;
  text-transform: lowercase;

  a {
    margin-right: $spacing;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.page-content {
  grid-area: main;
  padding: $spacing-l 0;
}

.introduction {
  padding: $spacing-xl 0;

  a:link {
    color: rgb(62, 41, 247);
  }

  .container {
    @include breakpoint("medium") {
      max-width: 90%;
    }

    @include breakpoint("large") {
      max-width: 100%;
    }
  }
}

.work {
  padding: $spacing-xl 0;

  .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: $spacing-xs;
    padding: 0 $spacing;

    @include breakpoint("small") {
      grid-template-columns: 1fr 1fr;
      padding: 0 $spacing-xl;
    }

    @include breakpoint("large") {
      grid-template-columns: 1fr 1fr;
      gap: $spacing;
      padding: 0 $spacing-xs;
    }
  }
}

.site-footer {
  padding: $spacing-l 0;
  grid-area: footer;
}

.active {
  font-weight: 500;
}

.read-more {
  display: inline-block;
  color: black;
  font-size: 0.85em;
  font-weight: 500;
  border: 1px solid lighten(black, 90);
  border-radius: 0.55rem;
  padding: 0.7rem 0.95rem;
  transition: ease-in-out 0.3s;

  .icon {
    height: 14px;
    vertical-align: bottom;
  }

  &:hover {
    color: white;
    border: 1px solid rgb(62, 41, 247);
    background: rgb(62, 41, 247);
  }
}

.card {
  font-size: 0.85em;

  .meta {
    display: none;
    padding: $spacing $spacing !important;
  }

  .meta p {
    margin-bottom: 0;
  }
}
