@import "reset";
@import "variables";
@import "mixins";

html {
  margin-left: calc(100vw - 100%);
  margin-right: 0;
}

body {
  font-family: $font-stack;
  font-weight: 300;
  color: lighten(black, 25);
}

h1,
h2 {
  font-family: $font-stack;
  font-weight: 700;
  color: black;
}

.introduction h1 {
  font-size: 2em;
  margin-bottom: $spacing-s;

  @include breakpoint("small") {
    font-size: 2.25em;
  }

  @include breakpoint("medium") {
    font-size: 2.75em;
  }

  @include breakpoint("large") {
    font-size: 3.25em;
  }
}

h1 {
  font-size: 2em;
}

h1,
h2 {
  margin-bottom: $spacing-s;
}

h3 {
  font-size: 1.2em;
  margin-bottom: $spacing-s;
}

.site-content p {
  line-height: 1.7;
  margin-bottom: 1.5rem;
}

.site {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  margin: 0 auto;

  @include breakpoint("small") {
    max-width: 750px;
  }

  @include breakpoint("medium") {
    max-width: 900px;
  }

  @include breakpoint("large") {
    max-width: 1200px;
  }
}

.container {
  padding: 0 $spacing;

  @include breakpoint("small") {
    padding: 0 $spacing-xl;
  }
}

.site-header {
  grid-area: header;
  padding: $spacing-l 0;
  font-size: 0.9em;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav-primary {
  display: flex;
  text-transform: lowercase;

  a {
    margin-right: $spacing;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.site-content {
  grid-area: main;
  padding: $spacing-l 0;
}

.site-content a {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: lighten(black, 75);

  &:hover {
    color: $color-primary;
    text-decoration-style: solid;
    text-decoration-color: $color-primary;
  }
}

.introduction {
  padding: $spacing-xl 0;

  .container {
    @include breakpoint("medium") {
      max-width: 90%;
    }

    @include breakpoint("large") {
      max-width: 100%;
    }
  }
}

.work {
  padding: $spacing-xl 0;

  .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: $spacing-xs;
    padding: 0 $spacing;

    @include breakpoint("small") {
      grid-template-columns: 1fr 1fr;
      padding: 0 $spacing-xl;
    }

    @include breakpoint("large") {
      grid-template-columns: 1fr 1fr;
      gap: $spacing;
      padding: 0 $spacing-xs;
    }
  }
}

.site-footer {
  color: lighten(black, 75);
  font-size: 0.75em;
  padding: $spacing-l 0;
  grid-area: footer;

  .container {
    display: flex;
    justify-content: space-between;
  }
}

.active {
  font-weight: 500;
}

a.read-more {
  text-decoration: none;
  background: transparent;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 500;
  border: 1px solid lighten(black, 90);
  border-radius: 0.55rem;
  padding: 0.7rem 0.95rem;

  .icon {
    height: 14px;
    vertical-align: bottom;
  }

  &:hover {
    color: white;
    border: 1px solid $color-primary;
    background: $color-primary;
  }
}

.card {
  font-size: 0.85em;

  .meta {
    display: none;
    padding: $spacing $spacing !important;
  }

  .meta p {
    margin-bottom: 0;
  }
}

.presentation {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $spacing-xl;
  }
}
