@import 'reset';
@import 'variables';
@import 'mixins';

body {
  background-color: $color-yellowish;
  color: $color-black;
  font-family: $font-stack;
  font-weight: 500;
  font-size: 1em;

  @include breakpoint('medium') {
    font-size: 1.125em;
  }
}

h1 {
  font-weight: 900;
  font-size: 2.5em;
  line-height: 1.25;
  font-weight: 900;
  margin-bottom: 1.5rem;

  @include breakpoint('medium') {
    font-size: 3.5em;
  }
}

.logo {
    display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 35px;
  width: 35px;
  padding-top: 35px;
  overflow: hidden;
  background: rgba(0,0,0,0)
    url('../images/logo.png')
    no-repeat;
  background-position: center center;
  background-size: contain;
  margin-bottom: 0;
}

h2 {
  font-weight: 900;
  font-size: 2em;

  &:after {
    content: '';
    background-color: lighten($color-blue, 30);
    width: 1ch;
    height: .15em;
    position: relative;
    bottom: 0;
    display: block;
  }
}

h2, h3, h4, h5, h6 {
  margin-bottom: 1.2rem;
}

a:hover, a:active {
  color: $color-blue;
  transition: all .5s;
}

p {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.highlight {
  position: relative;
  display: inline-block;

  &:after {
    content: '';
    background: lighten($color-blue, 30);
    width: 102%;
    height: .35em;
    position: absolute;
    bottom: 5%;
    left: 0;
    z-index: -1;
    transform: rotate(-.25deg);
  }
}

.btn {
  font-family: $font-stack;
  background-color: $color-blue;
  color: $color-white;
  padding: .75em 1em;
  cursor: pointer;
  font-size: .9em;
  display: inline-block;
  border: 2px solid $color-blue;
  transition: all .5s;

  &:hover {
    background-color: $color-white;
    color: $color-blue;
  }
}

.btn-small {
  font-size: .9em;
  padding: .5em .75em;
}

.about > .container {
  display: grid;

  @include breakpoint('small') {
    justify-content: space-between;
  }

  @include breakpoint('medium') {
    align-items: center;
  }
}

img.profile {
  max-width: 65%;
  margin: 0 auto;
  margin-bottom: 3em;
  transform: rotate(1.5deg);
  border: .5em solid $color-white;
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.024),
    0 6.7px 5.3px rgba(0, 0, 0, 0.038),
    0 12.5px 10px rgba(0, 0, 0, 0.03),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042),
  ;

  grid-row: 1;

  @include breakpoint('small') {
    max-width: 80%;
    grid-column: 1 / 2;
    margin-bottom: 0;
    margin-left: -.025rem;
  }
}

.about-description {
  @include breakpoint('small') {
    grid-column: 2 / 3;
  }
}

section {
  padding: 4rem 0;
  border-bottom: 1px solid $color-darkish;

  @include breakpoint('medium') {
    padding: 6rem 0;
  }

  @include breakpoint('large') {
    padding: 12rem 0;
  }
}

.container {
  margin: 0 8%;

  @include breakpoint('large') {
    margin: 0 auto;
    max-width: 1000px;
  }
}

.site-header {
  margin-top: 8%;

  @include breakpoint('small') {
    margin-top: 5%;
  }

  @include breakpoint('medium') {
    margin-top: 2%;
  }
}

.site-header .container {
  display: flex;
  justify-content: space-between;

  @include breakpoint('small') {
    align-items: center;
  }
}

.site-nav {
  text-transform: lowercase;
  text-align: right;
  font-size: .9em;

  ul {
    @include breakpoint('small') {
      display: flex;
    }
  }

  ul li a {
    display: inline-block;
    padding: .2rem;

    @include breakpoint('small') {
      padding: 1rem;
    }
  }
}

.site-footer {
  font-size: .75em;
  
  background-color: $color-black;
  margin: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: $color-white;
  text-align: center;

  p {
    margin: 0;
  }
}

.stretched-link {
  font-size: 0;
}

.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: none;
  transition: all .5s;
}

.stretched-link:hover::after {
  content: 'Visit';
  background-color: rgba($color-blue, 0.75);
}

p > a {
  text-decoration: underline;
  text-decoration-thickness: .125em;

  text-decoration-skip-ink: auto;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero .container {


    max-width: 45ch;

    @include breakpoint('small') {
      max-width: 45ch;
      margin: 0 auto;
    }

    @include breakpoint('medium') {
      max-width: 60ch;
    }
}

.social-links {
  display: flex;

  li > a {
    padding: .5rem;
    font-size: 1.25em;
  }

  li:first-of-type a {
    padding-left: 0;
  }
}

.featured-items {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  margin-bottom: 4em;

  @include breakpoint('small') {
    margin-bottom: 4em;
    grid-template-columns: 1fr 1fr;
  }

  @include breakpoint('medium') {
    margin-bottom: 6em;
    gap: 4em;
  }


}

.featured-item {
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.024),
    0 6.7px 5.3px rgba(0, 0, 0, 0.038),
    0 12.5px 10px rgba(0, 0, 0, 0.03),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042),
  ;
}

.featured-item__header {
  background-color: $color-white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px 5px 0 0;

  padding: .35rem .75rem;

  p {
    font-family: $font-stack;
    font-weight: 500;
    text-transform: lowercase;
    font-size: .75em;
    margin-bottom: 0;
  }
}

.featured-item__body {
  position: relative;
  font-size: 0px;
}

.featured-item__footer {
  background-color: $color-blue;
  border-radius: 0 0 5px 5px;
  height: .5rem;
}

.work-more {
  text-align: center;
}

.contact-content {
  display: grid;
  justify-content: center;

  @include breakpoint('small') {
    display: grid;
    grid-template-columns: .75fr 1.25fr;
    gap: 4rem;
  }
}

.contact-content form {
  width: 100%;
}

input, textarea {
  width: 100%;
  margin-bottom: 1.25rem;
  padding: .75rem;
  font-family: 'Poppins', sans-serif;
  font-size: .85em;
  border: 1px solid $color-darkish;
  border-radius: 5px;
  background-color: $color-white;

  &:focus {
    border: 1px solid $color-blue;
    outline: 1px solid $color-blue;
  }
}

textarea {
  resize: none;
}

label {
  display: block;
  margin-bottom: .5rem;
}

.notice {
  background-color: $color-notice;
  color: $color-white;
  padding: .5rem;
  text-align: center;
  font-size: .7em;

  p {
    margin: 0;
  }
}

.btn-white {
  background-color: $color-white;
  color: $color-black;
  text-decoration: none;
  border: 0;
  margin-left: 2em;
}